In [1]:
#program for summation two numbers
variable=int (input('Please enter your number:'))
variable1=int (input('please enter a number:'))
ar=variable+variable1
print('your name is : ',ar)

Please enter your number:2
please enter a number:2
your name is :  4

In [2]:
#program for for loop statement
i=10
sum=0 
for a in range(10): 
    sum=sum+i 
    i=i-1 
print(sum)

55

In [3]:
#program for string operations combination
first_name=input('Enter your first name:')
last_name=input('Enter your last name:')
full_name=first_name.capitalize()+' '+last_name.capitalize()
print('hellow'.capitalize(),full_name)

Enter your first name:premlal
Enter your last name:singha
Hellow Premlal Singha

In [4]:
#program for case chance in python
print(full_name.upper())
print(full_name.lower())
print(full_name.capitalize())
print(full_name.count('l'))

PREMLAL SINGHA
premlal singha
Premlal singha
2

In [5]:
first_name='premlal'
last_name='Singha'
output='Hellow {0} {1}'.format(first_name,last_name)
output1=f'{first_name} {last_name}'
print(output1)
print(output)

premlal Singha
Hellow premlal Singha

In [6]:
#program for numbers
days_in_feb=28
print(str(days_in_feb)+' total days in February')

28 total days in February

In [7]:
#program for time related
from datetime import datetime, timedelta
cu=datetime.now()
print(cu)
twoday=timedelta(days=1)
oldday=cu-twoday
print(oldday)

2024-08-21 17:29:37.237076
2024-08-20 17:29:37.237076

In [8]:
print('Date:'+str(cu.day))
print('Date:'+str(cu.second))
print('time is: '+str(cu))

Date:21
Date:37
time is: 2024-08-21 17:29:37.237076

In [9]:
oneday=timedelta(days=5)
newday=cu-oneday
print(newday)

2024-08-16 17:29:37.237076

In [13]:
birthday=input('enter your birthday (dd//): ')
birthdate=datetime.strptime(birthday,'%d-%m-/%Y')

enter your birthday (dd//): 14-09-2024

ValueError: time data '14-09-2024' does not match format '%d-%m-/%Y'

In [14]:
#program for Error handling
x=42
y=0
print()
try:
    print(x/y)
except ZeroDivisionError as e:
    print('Not allow to divide by zero')
else:
    print('Something else went wrong')
finally:
    print('This is our cleanup')

Not allow to divide by zero
This is our cleanup

In [15]:
#program for conditional logic
x=int(input('Enter the price of goods'))
if x>=5:
    tex=5
    print('please pay tex:',tex)
else:
    tex=0
    print('please pay tex:',tex)

Enter the price of goods34
please pay tex: 5

In [16]:
x='Canada'
if x.lower() == 'caNada'.lower():
    print('sa this are match')
else :
    print('this is not match')

sa this are match

In [1]:
x=1988
if x%400==0:
    print("Leap year")
elif x%4==0 and x%100!=0:
    print('Leap Year')
else:
    print('Not a leap year')

Leap Year

In [18]:
x='aa'
if x in ('pp','aa','bb'):
    print('Good')
else:
    print('abbf')

Good

In [11]:
#program for collections
name=['prem','lal','singha']
name.append('rrrr')
name.append('inninin')
name.append(99)
print(name)
number=[]
number.append(1)
number.append(45)
number.append(100)
print(number[])

['prem', 'lal', 'singha', 'rrrr', 'inninin', 99]
100

In [23]:
dictionary={}
dictionary['first']='one'
dictionary['last']=10
orginal=[]
orginal.append(dictionary)
orginal.append(
{
    'first':'three','last':5
})
orginal.append({
    'first':'five','last':6
})
print(orginal)

[{'first': 'one', 'last': 10}, {'first': 'three', 'last': 5}, {'first': 'five', 'last': 6}]

In [36]:
#program for loop concept

name=['prem','lal','singha']
for n in name:
    print(n)
    
    
index=0
while index < len(name):
    print(name[index])
    index=index+1

prem
lal
singha
prem
lal
singha

In [39]:
#program for function
first_name=input('Enter your first name:')
last_name=input('Enter your last name:')
print('The first latters are:'+first_name[0:1].upper()+last_name[0:1].upper())

Enter your first name:premlal
Enter your last name:singha
The first latters are:PS

In [1]:
def find(st):
    latter=st[0:1]
    return latter
first_name=input('Enter the first name:')
last_name=input('Enter the last name:')
print("the letters are:"+find(first_name).upper()+find(last_name).upper())

Enter the first name:premlal
Enter the last name:singha
the letters are:PS

In [14]:
#program for parameterized functioin and name notation
def find(st,force_uppercase):
    if force_uppercase:
        initial=st[0:1].upper()
    else:
        initial=st[0:1]
    return initial
first_name=input('Enter the first name:')
print("the letters are:"+find(force_uppercase=True, st=first_name))

Enter the first name:premlal
the letters are:P

In [1]:
pip install colorama

Requirement already satisfied: colorama in c:\users\premlal\anaconda3\lib\site-packages (0.4.4)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import colorama
from colorama import Back, Fore, Style

print(Fore.RED+'Premlal')

Premlal

In [12]:
person_dict={'first':'premlal','last':'Singha'}
staff_dict={}
staff_dict['program_manager']=person_dict
print(staff_dict)

{'program_manager': {'first': 'premlal', 'last': 'Singha'}}

In [13]:
staff_json=json.dumps(staff_dict)
print(staff_json)

{"program_manager": {"first": "premlal", "last": "Singha"}}

In [2]:
import json

# Create a dictionary object
person_dict = {'first': 'Christopher', 'last':'Harrison'}
# Add additional key pairs to dictionary as needed
person_dict['City']='Seattle'

# create a staff dictionary
# assign a person to a staff position of program manager
staff_dict ={}
staff_dict['Program Manager']=person_dict
# Convert dictionary to JSON object
staff_json = json.dumps(staff_dict)

# Print JSON object
print(staff_json)

{"Program Manager": {"first": "Christopher", "last": "Harrison", "City": "Seattle"}}